/* ------------------ */
/* CONTENEDOR GENERAL */
/* ------------------ */
.user-profile-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.user-col1{
    display: flex;
    width: 25%;
    margin-top: 30px;
    border-radius: 10px;
    border: 2px solid var(--general);
    margin-right: 10px;
}

.user-col2{
    display: flex;
    width: 75%;
    border: 2px solid var(--general);
    margin-top: 30px;
    border-radius: 10px;
}
/* -------------------------- */
/* foto de ferfil del usuario */
/* -------------------------- */

.img{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    margin: 10px;
}

img{
    display: flex;
    width: 100%;
    border-radius: 50%;
}


/* ----------------- */
/* Datos del usuario */
/* ----------------- */
.data-container{
    background: var(--we-white);
    margin: 30px;
    width: 100%;
    border-radius: 10px;
}

.data{
    display:flex;
    border: 1px solid var(--general);
    margin: 10px;
    border-radius: 10px;
}

.data:hover{
    background:  var(--we-shadow);
    color: var(--general);
}

.data h4, p{
    width: 100%;
    margin: 0;
    padding: 10px;
}

.data-container .data-edit{
    text-align: center;
    margin: 10px;
}

.data-container button[type=edit-infor]{
    background: var(--orange);
    color: var(--we-white);
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.data-container button[type=edit-infor]:hover{
    background: var(--we-purple-hover-light);
    color: var(--we-white);
    padding: 10px;
}

/* ----------- */
/* Media Quary */
/* ----------- */

@media(max-width: 1000px){
    .user-profile-container{
        display: block;
    }
    .user-col1{
        display: none;
    }
    .user-col2{
        width: 100%;
    }
}