.container{
    margin-top: 20px;
    margin-bottom: 30px;
}

ul li{
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-warming{
    background-color: var(--boton);
    color: white;
    border-color: var(--boton);
}

div svg{
    cursor: pointer;
}
/* estilos de modal */
.we-modal-header{
    border-bottom: none;

}

.we-modal-footer{
    border-top: none;
}

.we-btn-danger{
    border: #FB3830 solid 2px;
}

.we-btn-success{
    border: #40FB32 solid 2px;
}

.we-btn-secundary{
    border: var(--secundary) solid 2px;
}





