/* estilos para las rutas */
nav{
    position: fixed;
    width: 100%;
    background-color: var(--general);
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav .nav-item{
    display: inline-block;
    color: var(--primary-text);
    padding: 10px 20px;
    text-decoration: none;
}

nav .nav-item:hover{
    background: var(--we-blue);
    border-radius: 5px;
}
/* estilos para los iconos */
nav .nav-icon{
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    border-radius: 5px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav .nav-icon .noti-icon,.perfil-icon{
    padding: 0px 5px ;
}

nav .nav-icon svg:hover{
    background: var(--we-blue) ;
    padding: 2px;
    border-radius: 5px;
}
/* Botón que aparce cuando la pantalla es muy pequeña */
.nav-boton{
    background: var(--general);
    color: var(--we-grey);
    padding: 10px 0;
    border: 2px solid var(--we-grey);
    display: none;
}

/* Media query */
@media (max-width: 600px){
    nav{
        flex-direction: column;
    }
    nav .nav-item{
        display: block;
        color: var(--we-grey);
        padding: 10px 20px;
        text-decoration: none;
    }

    .nav-boton{
        display: inline-block;
        padding: 10px 20px;
    }
    nav .ghost{
        display: none;
    }

    nav .nav-icon{
        display: none;
    }
}