.background{
  background: rgb(128,0,32);
  background: linear-gradient(180deg, rgba(128,0,32,1) 10%, rgba(252,176,69,1) 100%);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: -10;

}

/* ------------------ */
/* Contenedor general */
/* ------------------ */
.member-details-container{
margin: 0 auto;
display: flex;
width: 90%;
}

.member-details-col{
  display: flex;
  border: 3px solid var(--we-white);
  border-radius: 10px;
  width: 50%;
  margin: 35px 15px;
}

/* ----------------- */
/* imagen del equipo */
/* ----------------- */
.img-container{
  border: 2px solid var(--we-white);
  border-radius: 10px;
  text-align:  center;
}

.img-container img{
  margin: 5px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

/* ---------- */
/* formulario */
/* ---------- */

.member-details-form{
  border-radius: 10px;
  display: flex;
  width: 100%;
  margin: 30px;
}

form{
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.member-details-form input[type=name],[type=description]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  resize: none;
  cursor: pointer;
}

.member-details-form input[type=name]:focus ,[type=description]:focus{
  box-shadow: 5px 5px 0px var(--we-purple-hover-light);
}

/* ------------------------ */
/* Estilos para los botones */
/* ------------------------ */

.we-btn-update{
  background: var(--we-green);
  color: var(--we-white);
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.we-btn-update:active{
  background: var(--general);
}
.we-btn-delete{
  background: var(--general);
  color: var(--we-white);
  border: none;
  outline: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.we-btn-delete:active{
  background: var(--general);
}

/* ----------------- */
/*  lista de mis equipos */
/* ----------------- */

.my-team-list{
  margin: 20px;
  width: 100%;
}

h4{
  margin: 20px;
  text-align: center;
  color: var(--we-white);
  font-size: 30px;
}
/* ---------------------- */
/* estilos para el scroll */
/* ---------------------- */

.scroll-team-details{
  margin: 10px;
  height: 350px;
  border: 2px solid var(--we-white);
	border-radius: 10px;
	overflow-y: auto;
}

.scroll-team-details::-webkit-scrollbar {
  border-left: var(--we-white) solid 1px;
}

.scroll-team-details::-webkit-scrollbar-thumb {
  border: var(--we-white) solid 1px;
  background: var(--general);
}


ul{
  list-style: none;
  padding: 0;
  margin: 10px;
}

li:hover{
  background: rgb(231, 229, 229);
}

li{
  display: flex;
  background: var(--we-white);
  justify-content: space-between;
  margin: 5px;
  border-radius: 10px;
  padding: 8px;
}
  
svg{
  padding: 2px;
}

/* ---------------------------------------- */
/* estilo para le botón de agreagar miembro */
/* ---------------------------------------- */

.we-btn-add{
  background: var(--we-green);
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
  
.we-btn-add:active{
  background-color: var(--general);
}

@media(max-width: 1000px){
  .member-details-container{
    display: block;
    }

  .member-details-col{
    width: 100%;
    margin-top: 30px;
    box-shadow: 9px 9px 5px var(--we-shadow);
  }

  .input-team-details{
    box-sizing: border-box;  
  }
}