<div class="background">
</div>
<!--Formulario para editar el equipo-->
<div class="member-details-container">
  <div class="member-details-col">
    <div class="member-details-form">
      <form>
        <div class="img-container">
          <img src="./../../../../../assets/imagenes/grupo1.jpg">
        </div>
        <div>
          <input type="name"   [(ngModel)]="team.name" [ngModelOptions]="{standalone: true}">
          <textarea type="description"  rows="5" [(ngModel)]="team.description" [ngModelOptions]="{standalone: true}">{{team.description}}</textarea>
          <button type="button" class="we-btn-update" (click)="updateTeam()">Actualizar</button>
          <button type="button" class="we-btn-delete" (click)="openModal('delete-team-modal')">Eliminar Equipo</button>
        </div>
      </form>
    </div>
  </div>
  <!--tabla donde aparecen los miembros del equipo-->
  <div class="member-details-col">
    <div class="member-details-form">
      <div class="my-team-list">
        <h4>Integrantes</h4>
        <div class="content">
          <ul class="list-group">
            <li class="list-group-item d-flex" *ngFor="let member of members">
              <div class="d-inline-flex p-2">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                </svg>
              </div>
              <div class="p-2 flex-grow-1">{{member.name}}</div>
              <div class="p-2" *ngIf="member.id == leader">
                <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
                  <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
                  <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                </svg>
              </div>
              <div class="p-2" *ngIf="member.id != leader">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg" (click)="deleteUser(member)">
                  <path fill-rule="evenodd"
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
            </li>
          </ul>
        </div>
        <button type="button" class="we-btn-add" (click)="openModal('add-user-modal')">Agregar Miembro</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para agregar usuarios al equipo -->
<div id="add-user-modal" class="pop-dialog">
  <!-- Modal content -->
  <div class="pop-dialog-content">
    <span class="pop-dialog-close" (click)="closeModal('add-user-modal')">&times;</span>
    <form>
      <h2>Invitar Usuario</h2>
      <label for="search-user">Correo Electrónico</label><br>
      <input type="email" name="search-user" id="search-user" [(ngModel)]="userEmail" required><br>
      <input type="submit" value="Agregar" (click)="addUser()">
      <input type="reset" value="Cancelar" (click)="closeModal('add-user-modal')">
    </form>
  </div>
</div>

<!--Modal de confirmación: eliminar miembro -->
<div id="delete-user-modal" class="pop-dialog">
  <!-- Modal content -->
  <div class="pop-dialog-content">
    <span class="pop-dialog-close" (click)="closeModal('delete-user-modal')">&times;</span>
    <form>
      <h2>¿Estas seguro de eliminar este usuario de tu equipo?</h2>
      <input type="submit" value="Eliminar" (click)="deleteUser()">
      <input type="reset" value="Cancelar" (click)="closeModal('delete-user-modal')">
    </form>
  </div>
</div>

<!-- Modal de confirmación: eliminar equipo -->
<div id="delete-team-modal" class="pop-dialog">
  <!--Modal content-->
  <div class="pop-dialog-content">
    <span class="pop-dialog-close" (click)="closeModal('delete-team-modal')">&times;</span>
    <form>
      <h2>¿Estas seguro de eliminar este equipo?</h2>
      <input type="submit" value="Eliminar" (click)="deleteTeam()">
      <input type="reset" value="Cancelar" (click)="closeModal('delete-team-modal')">
    </form>
  </div>
</div>