/* estilos del div contenedor*/
.container-web {
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to left, #F9D423, #e65c00); */ /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to left, #F9D423, #e65c00); */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: rgb(128,0,32);
  background: linear-gradient(180deg, rgba(128,0,32,1) 10%, rgba(252,176,69,1) 100%);
  height: 100vh;
}
/* estilos para el logo */

nav a{
  color: var(--we-white)
}

/* estilos para el titulo*/
.col h1{
  color: #FEFEFE;
}

/* estilos para la imagen*/
.description-img {
  font-size: larger;
  color: #FEFEFE;
}

.figure-img {
  margin-top: 5%;
  height: 80%;
  width: 80%;
}
