<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="container text-center">
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-images" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M12.002 4h-10a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1zm-10-1a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-10zm4 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
              <path fill-rule="evenodd"
                    d="M4 2h10a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1v1a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2h1a1 1 0 0 1 1-1z" />
            </svg>
          </div>
          <br>
          <div class="form-group">

            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de Equipo">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Descripción"
                      rows="3"></textarea>

          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                   checked>
            <label class="form-check-label" for="exampleRadios1">
              Solo el lider puede invitar
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Todos pueden invitar
            </label>
          </div>
          <br>
          <br>
          <div class="container text-center">
            <button type="button" class="btn we-btn-success mr-5" style="width: 60%;">Actualizar</button>
            <br>
            <button type="button" class="btn we-btn-danger mr-5" style="width: 60%;" (click)="openModal('delete-team-modal')">Eliminar Equipo</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <div class="d-flex justify-content-between">
            <h4>Integrantes</h4>
          </div>
          <br>
          <ul class="list-group">
            <li class="list-group-item d-flex" *ngFor="let member of members">
              <div class="d-inline-flex p-2">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                  <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                  <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                </svg>
              </div>
              <div class="p-2 flex-grow-1">{{member.name}}</div>
              <div class="p-2">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg" (click)="openModal('delete-user-modal')">
                  <path fill-rule="evenodd"
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                </svg>
              </div>
            </li>
          </ul>
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="openModal('add-user-modal')">Agregar Miembro</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para agregar usuarios al equipo -->
<div id="add-user-modal" class="pop-dialog">
  <!-- Modal content -->
  <div class="pop-dialog-content">
    <span class="pop-dialog-close" (click)="closeModal('add-user-modal')">&times;</span>
    <h2>Agrega un nuevo miembro al equipo</h2>
    <input type="email" name="search-user" id="search-user" placeholder="Escribe el correo electrónico" [(ngModel)]="userEmail" required><br><br>
    <br><br>
    <button (click)="addUser()">Agregar al Equipo</button>
    <button (click)="closeModal('add-user-modal')">Cancelar</button>
  </div>
</div>

<!-- Modal de confirmación: eliminar miembro -->
<div id="delete-user-modal" class="pop-dialog">
  <!-- Modal content -->
  <div class="pop-dialog-content">
    <span class="pop-dialog-close" (click)="closeModal('delete-user-modal')">&times;</span>
    <h2>¿Estas seguro de eliminar este usuario de tu equipo?</h2>
    <br>
    <button (click)="deleteUser()">Eliminar</button>
    <button (click)="closeModal('delete-user-modal')">Cancelar</button>
  </div>
</div>

<!-- Modal de confirmación: eliminar equipo -->
<div id="delete-team-modal" class="pop-dialog">
  <!-- Modal content -->
  <div class="pop-dialog-content">
    <span class="pop-dialog-close" (click)="closeModal('delete-team-modal')">&times;</span>
    <h2>¿Estas seguro de eliminar este equipo?</h2>
    <br>
    <button (click)="deleteTeam()">Eliminar</button>
    <button (click)="closeModal('delete-team-modal')">Cancelar</button>
  </div>
</div>
