.team-details-container{
    margin: 0 auto;
    width: 100%;

}

.team-details-col{
    border: 1px solid black;
    margin: 0 auto;
    width: 80%;
}
form{
    display: block;
}

form .input-team-details{
    display: block;
}
.radios{
    display: block;
}









.we-btn-success{
    border: #40FB32 solid 2px;
    margin-bottom: 20px;
}
.we-btn-danger{
    border: #FB3830 solid 2px;
   


}
.we-btn-secundary{
    border: var(--secundary) solid 2px;
}

.btn-block{
    background-color: var(--boton);
    color: white;
    border-color: var(--boton)

}
