/* ------------------ */
/* Contenedor General */
/* ------------------ */
.team-container{
  margin: 0 auto;
  padding: 10px;
  width: 90%;
}

h4{
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: var(--we-white);
}

.team-header{
  display: flex;
  justify-content: space-between;
}
/* -------------------------------------------- */
/* Estilos para los dos contenedores de equipos */
/* -------------------------------------------- */

.team-col{
  width: 100%;
  background: var(--general);
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  width: 90%;
  box-sizing: border-box;
  margin-top: 30px;
  box-shadow: 10px 10px 2px var(--we-shadow);
}

/* ----------------------------------------------- */
/* Estilos para el scroll que en lista los equipos */
/* ----------------------------------------------- */

.scroll-team{
  background: var(--we-purple-hover-light);
  overflow: auto;
  height: 250px;
}

.scroll-team::-webkit-scrollbar {
  border-left: var(--we-white) solid 1px;
}

.scroll-team::-webkit-scrollbar-thumb {
  border: var(--we-white) solid 1px;
  background: var(--general);
}


/* --------------------------------------------- */
/* Estilos para el botón de agregar nuevo equipo */
/* --------------------------------------------- */
.team-btn{
  background: var(--we-zian);
  color: var(--we-white);
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  
}

.team-btn:hover{
  background: var(--we-purple-hover-light);
}

/* ----------------------- */
/* Etilos para enlistar los equipos */
/* ----------------------- */
ul{
  margin: 10px;
  list-style: none;
  padding: 0;
}

li:hover{
  background: rgb(231, 229, 229);
}
li{
  display: flex;
  background: var(--we-white);
  justify-content: space-between;
  font-size: 19px;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
}

svg{
  padding: 5px 5px;
}
svg:hover{
  border-radius: 5px;
  background: var(--general);
  color: var(--we-white);
  outline: none;
  cursor: pointer;
}

svg:focus{
  background: var(--general);
  color: var(--we-white);
}