/* --------------------------------------------------------- */
/* Tablero */
/* --------------------------------------------------------- */
.board-task-container {
  margin: 0 auto;
  width: 90%;
}

/* --------------------------------------------------------- */
/* filtros, barra de buscar y boton de categorias */
/* --------------------------------------------------------- */

.container-filters {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

/* Estilos para el buscador */
.board-buscardor {
  width: 50%;
  border-radius: 10px;
}

.board-buscardor form input {
  width: 80%;
  outline: none;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: 1px solid var(--general);
}

.board-buscardor form button {
  outline: none;
  background: var(--general);
  padding: 10px;
  color: var(--we-white);
  border-radius: 0 10px 10px 0;
  border: 1px solid var(--general);
  cursor: pointer;
}

.board-buscardor form button:hover {
  background: var(--we-purple-hover)
}

/* Botón para filtar por categorias */
.dropdown {
  position: relative;
  background: var(--general);
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  background: var(--we-purple-hover);
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.dropdown-btn {
  background: var(--general);
  color: var(--we-white);
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

/* Categorías */
.dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: var(--general);
  color: var(--we-white);
  z-index: 1;
}

/* --------------------------------------------------------- */
/* botones de estado de las categorias y crear */
/* --------------------------------------------------------- */

/* contenedor de los botones de estados */
.container-state {
  margin-top: 15px;
  display: flex;
}

.states a {
  text-decoration: none;
  padding: 9px;
  border-top: 1px solid var(--general);
  border-left: 1px solid var(--general);
}

.states a:hover {
  background: var(--we-purple-hover);
  color: var(--we-white);
}

/* Estilos para el contador de las estados */
.board-nav span {
  background-color: var(--orange);
  color: var(--we-white);
  border-radius: 50%;
}

/* boton para crear tareas */
.create-state-btn button {
  background: var(--general);
  color: var(--we-white);
  padding: 10px;
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.create-state-btn button:hover {
  background: var(--we-purple-hover);
  cursor: pointer;
}

/* --------------------------------------------------------- */
/* Tablero de tareas */
/* --------------------------------------------------------- */
.board-container {
  border: 1px solid var(--general);
  box-shadow: 9px 9px 5px var(--we-shadow);
  width: 100%;
  height: 450px;
}

/* --------------------------------------------------------- */
/* Media query */
/* --------------------------------------------------------- */

@media (max-width: 1000px) {
  .container-filters {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .board-buscardor {
    width: 100%;
    border-radius: 10px;
  }

  .dropdown-container {
    width: 35%;
  }

  .board-container {
    width: 100%;
    height: 350px;
  }
}














/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */


/* CSS PARA EL BOARD-TEAM */
/* Buscador  */
.form-control
{
  border-color: #0E3E70;
  outline: 0;
  background: #ffffff;
}
/* Botón de buscador */
#buscador
{
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}
/* Botón categotría */
#categoria
{
  border-radius: 5px;
  color: #0E3E70;

}
/* Botón crear */
#btncrear
{
  border: none;
  background:#E55E17;
  color:#FFF9F3;
  margin-left: 10px;
}

/*Botón tareas y boton visto*/
#btntarea
{
  color:#F6901B;
  border-radius: 0px 10px 10px 0px;
}
#btntarea-task
{
  border-radius: 10px 0px 0px 10px;
  color: #0E3E70;
}
/*Eqtiquetas */
label
{
  border-radius: 0px;
}


/*contenedores*/
#container-task
{
  border: 1px solid;
  border-color: #0E3E70;
}
#container-task
{
  padding: 10px;
}
/*clase btn botones*/
.btn{
  background-color:#ffffff;
  border-color: #0E3E70 ; ;
}
