<div class="user-profile-container">
  <!-- foto del uaurio -->
  <div class="user-col1">
    <div class="img">
      <img src="./../../../../../assets/imagenes/pp.jpg">
    </div>
  </div>
  <!-- Datos del usuario -->
  <div class="user-col2">
    <div class="data-container">
      <div class="data">
        <h4>Nombre de Usuario:</h4>
        <p>Javier Pastaz</p>
      </div>
      <div class="data">
        <h4>Email:</h4>
        <p>javiDark@gmail.com</p>
      </div>
      <div class="data">
        <h4>Se unio el:</h4>
        <p>11/11/2020</p>
      </div>
      <!-- Botón para editar la información del usuario -->
      <div class="data-edit">
        <button type="edit-infor">
          Editar Informacion
        </button>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>