
<div class="background">
  <div class="user-profile-container">
    <!-- foto del uaurio -->
    <div class="user-col1">
      <div class="img">
        <img class="img-user"src="./../../../../../assets/imagenes/ex-image.png">
      </div>
    </div>
    <!-- Datos del usuario -->
    <div class="user-col2">
      <div class="data-container">
        <div class="data">
          <h4>Nombre de Usuario:</h4>
          <p>{{user.name}}</p>y
        </div>
        <div class="data">
          <h4>Email:</h4>
          <p>{{user.email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>