.background{
    background: rgb(128,0,32);
    background: linear-gradient(180deg, rgba(128,0,32,1) 10%, rgba(252,176,69,1) 100%);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: -10;

}
/* ------------------ */
/* CONTENEDOR GENERAL */
/* ------------------ */
.user-profile-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 80px;
}

.user-col1{
    display: flex;
    width: 15%;
    border-radius: 10px;
    border: 2px solid var(--we-white);
    margin-right: 10px;
}

.user-col2{
    display: flex;
    width: 85%;
    border: 2px solid var(--we-white);
    margin-top: 30px;
    border-radius: 10px;
}
/* -------------------------- */
/* foto de ferfil del usuario */
/* -------------------------- */

.img{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    margin: 10px;
}

.img-user{
    display: flex;
    width: 100%;
    border-radius: 50%;
}


/* ----------------- */
/* Datos del usuario */
/* ----------------- */
.data-container{
    color: var(--we-white);
    margin: 30px;
    width: 100%;
    border-radius: 10px;
}

.data{
    display:flex;
    border: 1px solid var(--we-white);
    margin: 10px;
    border-radius: 10px;
}

.data:hover{
    background:  var(--we-shadow);
    color: var(--general);
}

.data h4, p{
    width: 100%;
    margin: 0;
    padding: 10px;
}



/* ----------- */
/* Media Quary */
/* ----------- */

@media(max-width: 1000px){
    .user-profile-container{
        display: block;
    }
    .user-col1{
        display: none;
    }
    .user-col2{
        width: 100%;
    }
}