/* CSS PARA EL BOARD */
/* Buscador  */

.form-control{
    border-color: #0E3E70;
    outline: 0;
    background: #ffffff;
    }   
    .searchbar .search_icon{
    background: #ffffff;
    color:#E55E17
    }
/*contenedores*/
.container
{
    border-color: #0E3E70;
    padding: 10px;
}
/*botones*/
.btn{
    background-color:#ffffff;
    color: #0E3E70 ;
    border-color: #0E3E70 ; ;
    border-radius: 10px;
}