/* CSS PARA EL BOARD */
/* Buscador  */
.form-control
{
    border-color: #0E3E70;
    outline: 0;
    background: #ffffff;
}   
/* Botón de buscador */
#buscador
{
    border-radius: 0px 5px 5px 0px;
    border-left: none;
}
/* Botón categotría */
#categoria
{
    background-color: #E55E17;
    border: none;
    border-radius: 5px;
    color: white;
    
}
/* Botón crear */
#btncrear
{
    border: none;
    background:#E55E17;
    color:#FFF9F3;
    margin-left: 10px;
}

/*Botón tareas y boton visto*/
#btntarea
{
 color:#F6901B;
 border-radius: 0px 10px 10px 0px;
}
#btntarea-task
{
    border-radius: 10px 0px 0px 10px;
    color: #0E3E70;
}
/*Eqtiquetas */
label
{
    border-radius: 0px;
}

span
{
    background-color: #F6901B ;
    color: #FFF9F3; 
    border-radius: 50%;
}


/*contenedores*/
#container-task
{
    border: 1px solid;
    border-color: #0E3E70;
}
#container-task
{
    padding: 10px;
}
/*clase btn botones*/
/*
.btn{
    background-color:#ffffff;
    border-color: #0E3E70 ;
}
/* ----------ESTILOS PARA EL MODAL DE LAS TAREAS---------- */

#btnedit
{
    color: #707070;
    width: 47%;
    margin-right: 15px;
    margin-bottom: 10px;
    border-color: #40FB32 ;
}
#btncancel
{
    color: #707070;
    width: 46%;
    margin-left: 15px;
    margin-bottom: 10px;
    border-color: #26517C ;
}
#btndelete
{
    color: #707070;
    width: 100%;
    border-color: #FB3830 ;
}

/* ----------ESTILOS PARA EL MODAL DE LA CREACIÓN DE ETIQUETAS--------- */
#btncreate
{
    background-color: #E55E17;
    color: #ffffff;
    width: 50%;
    border-color: none;
    border: none;
}
#btn-tag
{
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

#btn-edit-tag
{
    border: none;
    float: right;
}
#btn-cancel-tag
{
    border:none;
    float: right;
}

/*correguir estos dos*/
#prueba-etiqueta
{
    border: 1px solid #0E3E70;

}
#prueba-boton-etiqueta
{
    border: none;
}

