<div class="sugestion-container">
    <div class="description">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi beatae nemo commodi eligendi? Voluptates
            assumenda iusto id est amet deleniti ullam eos sed voluptatibus magnam incidunt cupiditate molestiae, odit
            qui!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, sit ducimus perspiciatis impedit
            necessitatibus optio, labore culpa voluptates rem deserunt dolorem qui natus voluptatibus incidunt facere
            saepe laborum assumenda dicta.
            Delectus dolorem cumque adipisci dignissimos nobis officiis eum ab, tempora maiores id voluptatem
            perferendis, possimus inventore quibusdam quos, corporis recusandae odio tempore exercitationem natus
            deleniti sunt distinctio. Ullam, odio quae.
            Unde optio culpa enim voluptatem harum et impedit adipisci doloremque facilis eveniet! Cum atque illo,
            libero, unde voluptates eaque aut nisi culpa cupiditate aspernatur laboriosam ad consequatur, molestias
            doloremque quia.
            Sit ab ullam et, maxime quas reprehenderit nemo consequuntur suscipit eos quibusdam asperiores corrupti
            quidem accusantium sint ad eum fuga? Ad nostrum ea ex voluptatum quibusdam? Animi sunt exercitationem
            facere.
            Consequuntur, reiciendis, qui sit blanditiis similique ex incidunt, distinctio repellat quidem labore illum
            sunt ipsam? Laudantium tempora sed adipisci, ad quasi sint repellat nihil ipsum! Assumenda soluta
            voluptatibus tempore. Accusamus.
        </p>
    </div>
    <div class="sugestion-form">
        <p>Deja tu comenario:</p>
        <form>
            <textarea rows="6" placeholder="Escribe lo que desees aquí..."></textarea>
        </form>
        <label type="button" class="we-btn">Enviar</label>
    </div>
</div>