<nav class="navbar">
  <!-- rutas -->
  <div>
    <button class="nav-boton" (click)="showMenu()">Menu</button>
    <a class="nav-item ghost" routerLink="/app/tareas">Mis Tareas</a>
    <a class="nav-item ghost" routerLink="/app/equipos">Mis Equipos</a>
    <!-- <a class="nav-item ghost" routerLink="/app/sugerencias">Sugerencias</a> -->
  </div>
  <!-- iconos -->
  <div class="nav-icon">
    <!-- <div class="dropdown noti-icon" (click)="getNotifications()">
      <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bell-fill dropdown-toggle" fill="White"
           xmlns="http://www.w3.org/2000/svg" id="notifications" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
        <path
          d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
      </svg>
      <div class="dropdown-content">
        <a *ngFor="let notification of notifications">{{notification}}</a>
      </div>
    </div> -->
    <div class="dropdown noti-icon">
      <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="White"
           xmlns="http://www.w3.org/2000/svg">
        <path
          d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
      </svg>
      <div class="dropdown-content">
        <a routerLink="/app/mi-perfil">Mi perfil</a>
        <a (click)="logout()">Salir</a>
      </div>
    </div>
  </div>
</nav>
