/* ------------------ */
/* contenedor general */
/* ------------------ */
.sugestion-container{
  margin: 0 auto;
  padding: 10px;
  width: 90%;
}
.sugestion-col{
  border: 2px solid var(--general);
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 9px 9px 5px var(--we-shadow);
  width: 50%;
  box-sizing: border-box;
  margin-top: 30px;
}

.description{
  color: #707070;
  text-align: justify;
}

h2{
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
p{
  padding: 10px;
  margin: 0;
}

.sugestion-form{
  text-align: center;
  color: #707070;
  margin: 0 auto;
  width: 90%;
}
form{
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 100%;
}

textarea{
  width: 100%;
  padding: 12px 20px;
  outline: none;
  display: inline-block;
  border: 1px solid var(--general);
  border-radius: 10px;
  box-sizing: border-box;
  resize: none;
}
textarea:focus{
  border: 3px solid var(--general);
}

.we-btn{
  background: var(--we-zian);
  color: var(--we-white);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  
}

.we-btn:hover{
  background: var(--we-purple-hover-light);
}

@media (max-width: 1000px){
  .sugestion-col{
    border: 2px solid var(--general);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 9px 9px 5px var(--we-grey);
    width: 100%;
    box-sizing: border-box;
    margin-top: 80px;
  }
}
