/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: auto;
}

:root {
    --navbar: #f6901b;
    --boton: #e55e17;
    --we-grey: #e9ecef;
    --we-blue: #04376C;
    --secundary: #26517C;
    --primary-text: #fff;
}
