/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
}

:root {
    /* #f6901b */
    --navbar: #800020;
    --boton: #e55e17;
    --we-grey: #e9ecef;
    --we-blue: #940529;
    --secundary: #26517C;
    --primary-text: #fff;
}
