/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
}


:root {
    /* #f6901b */
    --general: #800020;
    --boton:  rgb(4, 93, 105);
    --boton-hover: #064725 ; 
    --we-grey: #e9ecef;
    --we-blue: #940529;
    --secundary: #26517C;
    --primary-text: #fff;
}
